<style>
body {
  background-color: rgb(92, 95, 95);
  display: flexbox;
  justify-content: center;
}
.box2 {
  display: flexbox;
  text-align: center;
  background-color: rgb(31, 31, 29);
  color: white;
  width: 100%;
  height: 90%;
  margin: 5% 0%;
  padding: 30px 40px;
  /* padding: 30px 40px 30px; */
  border-radius: 5px;
  font-family: "Bungee", cursive;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.btn {
  border: 1px solid white;
  color: white;
  margin: 0px 10px;
  margin-bottom: 15px;
}
.head {
  font-family: "Bungee", cursive;
  text-decoration: none;
  margin-left: 600px;
  color: white;
  font-size: 20px;
}
.details1{
    padding:0px 250px;
    text-align: start;
}
h4{
    padding: 5px;
    font-size: large;
    background-color: rgb(85, 81, 81);
}
</style>
<div class="box2">
  <h3>User Profile</h3>
  <hr>
  <div class="content1">
  <a href="/login"><button class="btn btn-outline-danger">Signout</button></a>
  <a href="/count"><button
      class="btn btn-outline-danger"
      type="submit"
    >Count</button></a>
    </div>
  <br />
  <div class="details1">
  <div class="detail">
    <h3>Name : </h3><h4> {{name}} </h4>
    </div>
    <div class="detail">
    <h3>About : </h3><h4>{{about}}</h4>
    </div>
    <div class="detail">
    <h3>Email : </h3><h4>{{email}}</h4>
    </div>
    <div class="detail">
    <h3>Age : </h3><h4>{{age}}</h4>
    </div>
    </div>
    <br>
    <a href="/edit/{{id}}"><button class="btn btn-outline-danger">Edit</button></a>
  </div>
</div>